<h1>Coin Ritual</h1>
<div>
    Welcome to Clan Wolf, Trial of Bloodright. Stand by for a pair to be added.
</div>
<div class="pair-in-run"></div>
<div class="pair-placeholder" style="display:none">
    <div class="warriors">
        <span class="warrior1">Warrior 1: <span></span></span>&nbsp;|&nbsp;
        <span class="warrior2">Warrior 2: <span></span></span>
    </div>
    <div class="result">
        <span class="hunter">Hunter: <span></span></span><br />
        <span class="hunted">Hunted: <span></span></span>
    </div>
</div>
